  {{ define "title" }}SHW{{ end }}

  {{ define "content" }}
      <div class="row">
        <div class="col-md-10">
          <h1><a href="/">Generator-Generator</a></h1>
        </div>

        <div class="col-md-2">
          <a href="/{{.Slug}}/edit" class="btn btn-default btn-block">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>{{.Name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <blockquote>
            <ul id="examples" class="list-group"></li>
          </blockquote>
        </div>
      </div>
  {{ end }}

  {{ define "script" }}
      function generateExample() {
          $.ajax({
            type: 'GET',
            url: '/{{.Slug}}/generate?n=1',
            dataType: 'text',
            complete: function(data){
              var li = '<li class="list-group-item">' + data.responseText + '</li>'

              $("#examples").prepend(li);
            }
          });
      }

      generateExample();

      setInterval(generateExample, 3000);
  {{ end }}
