  {{ define "title" }}{{.Name}}{{ end }}

  {{ define "content" }}
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <h1><a href="/">Generate</a> {{.Name}}</h1>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="/{{.Slug}}/edit" class="btn btn-default btn-block btn-lg nav-btn">Edit</a>
        </div>
        <div class="col-xs-8 col-md-2">
          <a id="generate-btn" onclick="generateExample()" class="btn btn-primary btn-block btn-lg nav-btn">Generate</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul id="examples" class="list-group"></li>
        </div>
      </div>
  {{ end }}

  {{ define "script" }}
      function generateExample() {
          $.ajax({
            type: 'GET',
            url: '/{{.Slug}}/generate?n=1',
            dataType: 'text',
            beforeSend: function() {
              $("#generate-btn").text("Generating").addClass("btn-danger");
            },
            complete: function(data){
              var li = '<li class="list-group-item">' + data.responseText + '</li>'

              setTimeout(function() {
                $("#generate-btn").text("Generate").removeClass("btn-danger");
                $("#examples").prepend(li);
              }, 190)
            },
            error: function(data){
              $("#generate-btn").text("Generate").removeClass("btn-danger");
            }
          });
      }

      generateExample();
  {{ end }}
